/*Estilo para tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
  /*Qualidade Home*/
  .qualidade:after {
    right: 66px;
    z-index: -1;
  }

  .qualidade-lista li {
    padding: 0 10px;
  }
  /*Footer*/
  .footer_redes ul li a {
    padding: 6px;
  }

  .footer_redes ul li a img {
    width: 26px;
    height: 26px;
  }
  /*Produtos*/
  .produto-item h2 {
    top: -150px;
  }

  .produto-icone {
    padding: 41px 0;
  }

  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height: 122px;
  }

  .produto-info ul li {
    width: 181px;
  }
}
/*Estilo para smartphone*/

@media only screen and (max-width: 787px) {
  /*Header*/
  .header {
    position: relative;
    padding-bottom: 0;
  }

  .header img {
    margin: 0 auto 10px auto;
  }

  .header_menu {
    text-align: center;
  }

  .header_menu ul li {
    margin: 5px;
  }
  .header_menu ul li a {
    border: 4px solid #000;
    font-weight: bold;
    width: 136px;
    float: left;
    display: block;
  }

  .header_menu ul li a:hover {
    border-color: #fff;
  }

  .header_menu ul li a.menu-ativo {
    border-color: #fff;
  }
  /*Introducao*/
  .introducao h1 {
    font-size: 36px;
  }

  .introducao {
    margin-top: 0;
    padding-top: 40px;
    background: url("../img/bg-mobile.jpg") no-repeat center;
    background-size: cover;
  }
  /*Introducao interna*/
  .introducao-interna {
    margin-top: 0;
  }

  /*Call*/
  .call-to-action {
    padding-top: 10px;
  }

  /*Qualidade Home*/
  .qualidade:after {
    display: none;
  }

  /*Sobre*/
  .missao-sobre p {
    padding-right: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .missao-sobre ul li {
    font-size: 14px;
    line-height: 25px;
  }
  /*Produtos*/
  .produto-item h2 {
    top: -100px;
    margin-bottom: -68px;
  }

  .produto-icone {
    padding: 41px 0;
  }

  .produto-info p {
    font-size: 14px;
    line-height: 20px;
    padding: 20px 30px;
    height: 142px;
  }

  .produto-info ul li {
    width: 149px;
  }

  .form {
    padding-right: 0;
  }

  .orcamento-dados ul {
    padding-right: 0;
  }
  /*Contato*/
  .contato-form {
    padding-right: 0;
  }
}
